h1 {
  color: #FB8500;
  font-size: 48px;
  font-family: "Playfair Display", serif;

}

h2 {
  color: #FFB703;
  font-size: 36px;
}

p {
  color: #023047;
  line-height: 1.8;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 500px;
}

#pink-text {
  color: pink;
}
